body{
    background-color: #edf2fb;
    background-repeat: no-repeat;
    background-size: cover;
    min-width:100%;
    height:100vh;
}

.heading{
    font-family: 'Playfair Display SC', serif;
    font-size: 2.4rem;
    font-weight: 900;
    text-align: center;
    margin-top: 10%;
    color: transparent;
    text-shadow: 1px 1px 2px rgba(255,255,255,0.6), 0 0 0 #222;
}

.horizontal_rule{
    min-width: 8rem;
    max-width:35rem;
    border-style: none;
    border-bottom:1px solid white;
}

/* quote_body */

#quote_division{
    color: white;
    width: max-content;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 0.2rem;
    font-weight: 900;
    font-size: 1.5rem;
    margin-top: 3rem;
}


#quote{
    margin-bottom: 2rem;
}

.opening_statement{
    color:black;
    margin-bottom: 1.5rem;
}

#quote_area{
    border-radius: 1.5rem;
    max-width: 30rem;
    padding: 3rem;
    box-shadow: 5px 5px 8px grey ;
}


#quote,#author_name{
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

#new_quote_button{
    margin-top: 2rem;
    width:7rem;
    border-radius: 0.2rem;
    padding:0.2rem;
    color: white;
    font-size:1rem;
    /* -webkit-text-stroke: 1px solid black; */
    font-weight: 800;
    border: none;
    background-color: grey;
    box-shadow: 5px 5px 8px grey;
    -webkit-text-stroke: 1px black;
}